/*Sets everything to have border-box ,margin and padding to 0 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets background color*/
body {
    background-color: #d9dcd6;
}

/*Sets the padding, font, background color and text color in the Header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Sets the Display type and font size in the h1 element of the Header*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Sets the text color of the "seo" class in the Header*/
header h1 .seo {
    color: #d9dcd6;
}

/*Sets the padding top, margin right, font, font size, and floats it to the right for he nav bar in the Header*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Sets the list style type for the unorder list in the nav bar of the Header*/
header nav ul {
    list-style-type: none;
}

/*Sets the display type and margin left for the listed items 
in the unorder list in the nav bar of the Header*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Sets the text color and text decoration for all anchor tags*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Sets the font size for all paragraphs*/
p {
    font-size: 16px;
}

/*Stylizes the hero class*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Floats left the contents with this class*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Floats right the contents with this class*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Sets the width, display type, and margin left for the content class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Set the margin bottom, padding, height, font, background color, 
and text color fot hte div of the content class*/
.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Sets the max height for images in the content class*/
.content img {
    max-height: 200px;
}

/*Sets the margin bottom and the font size for the h2 of the content class*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Sets the margin right, padding, clear, float, width, height, font,
 and background color for the benefits class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Sets the margin bottom and text color for benefit lead/brand/cost classes*/
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Sets the margin bottom and text align for h3 of the 
benefits lead/brand/cost classes*/
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Sets the display type, margin, max width for the images of the 
benefits lead/brand/cost classes*/
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Sets the margin bottom, padding, height, font, background color, and the color
for the search-engine-optimization, online-reputation-management,
and social-media-marketing classes*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Sets the max height for the images of the search-engine-optimization, 
online-reputation-management, and social-media-marketing classes*/
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/*Sets the margin bottom, font size for the h2 of the search-engine-optimization,
online-reputation-management, and social-media-marketing classes*/
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Sets the padding, clear, font, and text align for hte footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Sets the font size for the h2 of te footer*/
footer h2 {
    font-size: 20px;
}